body{
    font-family: 'Courier New', Courier, monospace ;
    background-color: rgb(255, 240, 240);
    background-size: cover;
    background-position: 0%;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(252, 55, 55, 0.75);
    width: 50%;
    margin: auto;
    background-color: rgb(211, 211, 211);
    
}
p.input{
    font-size: 20px;
    font-weight: bold;
    color: rgb(252, 55, 55);
}
input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    box-shadow: inset 0px 0px 5px 0px rgba(252, 55, 55, 0.75);

}